@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Baloo Bhai 2', cursive;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.fas{
    margin: 2px 8px;
}
.fab{
    margin: 2px 8px;
}

.navbar{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 10;
}
.main{
    
    width: 100vw;
    display: flex;
    /* background-color: black; */
}
#logo{
    /* width: 20%; */
    margin: 0.3rem 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#logo img{
    height: 2.7rem;
}
.navbar .lists{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.lists a{
     text-decoration: none;
     color: white;
     padding: 0 1.5rem;
}

.lists a:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
}
.background{
    background: rgba(129, 29, 223, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}
.education{
    text-align: center;
    /* height: 50px; */
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 3rem;
    color: #173b6c;
}

.overview{
    height: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-main{
    display: flex;
    align-items: center;
    width: 40%;
    
}
.box-main .firstHalf{
    color: white;
    text-align: center;
    width: 70%;
    
}
.firstHalf .button a{
    text-decoration: none;
    font-size: 25px;
}
/* .head{
    text-align: center;
}
.button{
    text-align: center;
}
.mid{
    text-align: center;
} */
.box-main .secondHalf{
    padding: 0px 20px;
}
.box-main .secondHalf img{
    height: 200px;
    border:3px solid white;
    border-radius: 50%;
}
.myabout{
    width: 80%;
    margin: 20px auto;
    height: 100%;
}
.myabout h2{
    text-align: left;
}
.part1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    /* height: 300px; */
    /* flex-wrap: wrap; */
}

.part1 .about1{
    width: 40%;
}

.back{
    height: 285px;
    width: 100%;
}
.para{
    font-size: 18px;
    color: rgb(83, 83, 197);
    font-family: none;
    padding: 4px 30px;
}
.career{
    text-align: left;
    width: 60%;
}
/* .education{
    text-align: center;
    height: 50px;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 30px;
    color: #173b6c;
} */
.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 15px;
}
.row .collg{
    margin: 0px 15px;

}
.row .collg span{
    padding: 0px 2px;
}
.row .collg strong{
    font-size: 17px;
}
.about-section{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.row li{
    margin-bottom: 20px;
    display: flex;
    align-items: center
}

.educate1{
    width: 1000px;
    margin: auto;
}
.containor1{
    /* width: 1000px; */
    margin: 10px auto;
    padding: 40px 0;
    position: relative;
    box-sizing: border-box;
}
.containor1::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 88%;
    background: #c5c5c5;
}
.containor1 ul{
    margin: 0;
    padding: 0;
}
.containor1 ul li{
    position: relative;
    width: 50%;
    list-style: none;
    padding: 40px 20px;
    box-sizing: border-box;
}
.containor1 ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.containor1 ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.containor1 ul li:nth-child(odd)::before{
content: "";
position: absolute;
top: 24px;
right: -6px;
width: 10px;
height: 10px;
background: rgb(196, 22, 22);
border-radius: 50%;
box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.containor1 ul li:nth-child(even)::before{
    content: "";
    position: absolute;
    top: 24px;
    left: -5px;
    width: 10px;
    height: 10px;
    background: rgb(196, 22, 22);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.containor1 ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}
.containor1 ul li p{
    margin: 10px 0 0;
    padding: 0;
}


.containor1 ul li:nth-child(odd) .time1{
    margin: 0px;
    position: absolute;
    top: 16px;
    right: -120px;
    padding: 0px 12px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}
.containor1 ul li:nth-child(even) .time1{
    margin: 0px;
    position: absolute;
    top: 16px;
    left: -120px;
    padding: 0px 12px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}
.containor1 ul li .time1{
    margin: 0;
    padding: 0;
    font-size: 14px;
}


.tag{
    color: black;
}
#Skills{
    margin: 40px 0px;
    /* display: grid; */
    /* place-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.skill-bar{
   /* width: 600px; */
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 25px 30px;
}
.SkillBar{
    width:50%;
}
.skill-bar .bar{
    margin: 20px 0px;
}
.skill-bar .bar:first-child{
    margin-top: 0px;
}
.skill-bar .bar .info span{
    font-size: 17px;
    font-weight: 600;
}
.skill-bar .bar .line{
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                      0px 1px  rgba(255, 255, 255, 0.8);
}
.bar .line span{
    height: 100%;
    width: 80%; 
    background: #6665ee;
    border-radius: 10px;
    position: absolute;
}
.line.Cplus span{    
   width: 90% ;
}
.line.C span{    
width: 85%;
}
 .line.Core span{    
width: 80%;
}
 .line.JS span{    
width: 70%;
}
.line.HTML span{    
width: 70%;
}
 .line.CSS span{    
width: 70%;
}
 .line.SQL span{    
width: 70%;
}
.bar .line span::after{
    position: absolute;
    content: "80%";
    right: 0;
    top: -16px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    z-index: -1;
}


.line.Cplus span::after{
    content: "90%";
}
.line.C span::after{    
    content: "85%";
    }
     .line.Core span::after{    
    content: "80%";
    }
     .line.JS span::after{    
    content: "70%";
    }
    .line.HTML span::after{    
    content: "70%";
    }
     .line.CSS span::after{    
    content: "70%";
    }
     .line.SQL span::after{    
    content: "70%";
    }

.year{
    color: rgb(83, 83, 197);
    font-size: 20px;
    font-weight: 500;
}

.deg{
    font-size: 17px;
    color: rgb(64, 55, 55);
}
 #Skills .educ{
    text-align: center;
    height: 50px;
    font-size: 30px;
    text-decoration: underline;
    padding-top: 25px;
}

#Hire{
    display: flex;
    flex-direction: column;
}

#Hireme {
    border: 2px solid black;
    padding: 27px 0px;
    width: 55%;
    margin: auto;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.5) url('828812007e1f0c5019ae46f4a29bcda2.jpg');
}

.form-group input {
    
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 70%;
    padding: 1px;
    border: 2px solid black;
    margin: 15px auto;
    font-size: 20px;
    border-radius: 10px;
}

#Hireme h1 {
    text-align: center;
}

#Hireme button {
    display: block;
    width: 55%;
    margin: 20px auto;
}

.btnn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 17px;
    font-size: 20px;
    cursor: pointer;
}

.btnn:hover {
    background-color: rgb(31, 30, 30);
}

@media only screen and (max-width: 600px){
    .part1{
        flex-direction: column;
        width: 100%;
    }
    .educate1{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    #logo{
        display: none;
    }
}